[submodule "deployment"]
	path = deployment
url=https://github.com/evoila/cf-service-broker-deployment/tree/master
[submodule "persistence"]
	path = persistence
	url = https://github.com/evoila/cf-service-broker-persistence
[submodule "core"]
	path = core
	url = https://github.com/evoila/cf-service-broker-core